@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

body {
	margin: 0;
	line-height: normal;
	scrollbar-width: none;
	scrollbar-color: var(--color-gray-400) transparent;
	
	&::-webkit-scrollbar {
        display: none;
    }
}

:root {
	/* component size */
	--sidebar-width: 350px;
	--sidebar-collapsed: 80px;

	--container-width: 70vw;
	--container-min-width: 500px;
	--container-height: 80vh;
	--container-min-height: 700px;

	--profile-width: 360px;

	/* fonts */
	--font-roboto: Roboto;
	--font-inter: Inter;
	--font-ibm-plex-sans: 'IBM Plex Sans';
  	
	/* font sizes */							// * 다른 사이즈 이용하더라도 clamp 이용해서 페이지 축소 시 사이즈 글자 줄어들게 *
	--base-font-size: clamp(16px, 1.8vw, 20px);	// 기본 사이즈
	--font-size-large: clamp(28px, 3vw, 40px);	// 대
	--font-size-mid: clamp(18px, 2vw, 24px);	// 중
	--font-size-small: clamp(14px 1vw, 18px);	// 소
	--font-title : 3rem;						// Title급 글자 사이즈

	/* Colors */
	--color-background-transparent: #071125;
	--color-layout: #13151a;
	--blue-100: #09509A;
	--blue-200: #16488F;
	--blue-300: #0B1F65;
	--blue-400: #0C2144;
	--blue-500: #071125;
	--lightblue-100: #64AFD0;
	--lightblue-200: #2E74A0;

	--color-list-border: #EEEEEE;
	--colors-neutral-grey-900: #3a383f;
	--color-white-200: #f7f3fd;
	--color-dimgray: #63666e;
	--color-white: #fff;
	--colors-others-color-blue-gray-200: #8ea6bf;
	--color-gainsboro: #e3e3e4;
	--color-gray-400: #88909f;
	--color-red-rosso: #D10000;

	/* Gradient Colors */
	--gradient-container : linear-gradient(to bottom right, var(--blue-500), #64AFD080);
	--gradient-button : linear-gradient(96.7deg, var(--blue-500), var(--blue-100));

}